// @import '~bootstrap/scss/bootstrap';
@import './Main.scss';
@import './Header.scss';
@import './Footer.scss';

@import './variables.scss';

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: $main-color;
}

// header {
//   display: flex;
//   justify-content: space-between;
//   padding: 1rem 0 1rem 0;
//   transition-duration: .2s;

//   &:hover {
//     background-color: $hover-color;
//     border-radius: 0 0 15% 15%;
//   }

//   & h1 {
//     margin: 0 3rem;
//     align-self: center;
//     font-size: 3rem;
//     transition-duration: .2s;

//     &:hover {
//       font-size: 3.1rem;
//       font-weight: bold;
//     }
//   }

//   & .head-nav {
//     display: flex;
//     justify-content: space-evenly;
//     align-self: center;
//     width: 475px;
//     margin: 0 2rem;
  
//     & h2 {
//       width: 10rem;
//       height: 1.8rem;
//       text-align: center;
//       border-width: .1rem;
//       transition-duration: .2s;
//       font-size: 1.6rem;
  
//       &:hover{
//         font-weight: bold;
//         border-color: black;
//         font-size: 1.8rem;
//       }
//       &:not(:last-child){
//         border-right-style: solid;
//       }
//     }
//   }
// }

// main{

//   & .defaultPage{
//     display: flex;
//     align-items: center;
//     justify-content: space-evenly;
    
//     & div h2 {
//       font-size: 5rem;
//     }
    
//     & div {
//       width: 26rem;
//       height: 10rem;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       flex-direction: column;
//       transition-duration: .25s;
//       clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
      
//       & p {
//         display: none;
//         font-weight: bold; 
//       }
      
//       &:hover {
//         background-color: $hover-color;
//         clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 75% 80%, 75% 100%, 50% 80%, 0% 80%);
//         height: 10rem;

//         & p {
//           display: inherit;
//           text-align: center;
//           font-size: 2rem;
//         }

//         & h2 {
//           display: none;
//         }
//       }
//     }
//   }

//   & .about {
//     display: flex;
//     justify-content: space-around;
//     align-items: center;

//     & p {
//       font-size: 1.7rem;
//       width: 30%;
//       transition-duration: .2s;

//       & strong {
//         font-weight: inherit;            
//         transition-duration: .2s;
//       }

//       &:hover {
//         text-shadow: 1px 1px 1px $greyed-quadinary-color;
//       }

//       &:hover strong {
//         background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/664131/underline.svg');
//         background-repeat: no-repeat;
//         background-position: bottom;
//         font-size: 1.75rem;
//         color: $hover-color;
//       }
//     }

//     & img {
//       max-width: 40%;
//       border-radius: 50%;
//       transition-duration: .2s;
      
//       &:hover {
//         border-style: solid;
//         border-color: $hover-color;
//         border-width: 2px;
//         border-radius: 20%;
        
//       }
//     }
//   }

//   .carousel {
//     margin: auto;
//     width: 100%;

//     & .carousel-caption {
//       color: black;
//     }

//     article {
//       display: flex;
//       justify-content: space-evenly;
//       align-items: center;

//       img {
//         width: 500px;
//         border-radius: 1rem;
//       }
  
//       section {
//         font-size: 1rem;
//         width: 20rem;
//       }
//     }

//     .carousel-control-next-icon, .carousel-control-prev-icon {
//       background-color: black;
//       transition-duration: .2s;
//       background-image: none;
//       width: 2rem;
//       height: 2rem;

//       &:hover {
//         background-color: $ternary-color;
//         width: 2.3rem;
//         height: 2.3rem;
//       }

//     }

//     .carousel-control-next-icon {
//       clip-path: polygon(0% 0%, 100% 50%, 0% 100%, 25% 50%);
//     }
//     .carousel-control-prev-icon {
//       clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0% 50%);
//     }
    
//   }
// }

// footer {
//   height: 10%;
//   display: flex;
//   justify-content: center;
//   transition-duration: .2s;

//   &:hover {
//     background-color: $hover-color;
//     border-radius: 15% 15% 0 0;
//   }
  
//   & nav {
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//     height: 100px;
//     width: 300px;

//     & a {
//       text-decoration: none;
//       color: inherit; 
//     }

//     & i {
//       font-size: 2.5rem;
//       transition-duration: .2s;

//       &:hover{
//         // color: $ternary-color;
//         font-size: 2.7rem;
//       }
//     }
//   }
// }
