@import './variables.scss';
@import '~bootstrap/scss/bootstrap';



////////// LANDING PAGE ///////////////////

.landingPage{
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  & div h2 {
    font-size: 5rem;
    opacity: 100%;
  }
  
    div {
        width: 26rem;
        height: 20rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        h2 {
            transition-duration: .2s;
        }

        p {
            height: 0rem;
            padding: .5rem;
            font-size: 1.5rem;
            opacity: 0%;
            font-weight: bold; 
            text-align: center;
            background-color: $hover-color;
            clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 65% 100%, 50% 75%, 0% 75%);
            transition-duration: .2s;
        }
        
        &:hover {

            p {
                height: 8rem;
                opacity: 100%;
            }
        }
    }
}



///////////// ABOUT PAGE ///////////////////

.about {
    display: flex;
    justify-content: space-around;
    align-items: center;

    & p {
        width: 30%;
        font-size: 1.7rem;
        transition-duration: .2s;

        & strong {
            font-weight: inherit;            
            transition-duration: .2s;
            width: inherit;
        }

        &:hover {
            text-shadow: 1px 1px 1px $greyed-quadinary-color;
        }

        &:hover strong {
            background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/664131/underline.svg');
            background-repeat: no-repeat;
            background-position: bottom;
            font-size: 1.55rem;
            font-weight: bold;
        }
    }

    & img {
        max-width: 40%;
        border-radius: 50%;
        transition-duration: .2s;
        
        &:hover {
            border-style: solid;
            border-color: $hover-color;
            border-width: 2px;
            border-radius: 20%;
            
        }
    }
}



///////////// PROJECT PAGE ///////////////////

main{

    .carousel {
      margin: auto;
      width: 100%;
  
      article {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
  
        img {
          height: 400px;
          border-radius: 1rem;
          border-style: solid;
          border-width: 2px;
          border-color: $hover-color;

        }
    
        section {
            width: 35rem;

            h3 {
                font-size: 2.5rem;
                font-weight: bold;
            }

            p {
                font-size: 1.5rem;
            } 
        }
      }
  
      .carousel-control-next-icon, .carousel-control-prev-icon {
        background-color: black;
        transition-duration: .2s;
        background-image: none;
        width: 2rem;
        height: 2rem;
    
        &:hover {
            width: 2.3rem;
            height: 2.3rem;
        }
      }
  
      .carousel-control-next-icon {
        clip-path: polygon(0% 0%, 100% 50%, 0% 100%, 25% 50%);
      }
      .carousel-control-prev-icon {
        clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0% 50%);
      }
    }   
}

///////////// BLOG PAGE ///////////////////