@import './variables.scss';

* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  height: 10%;

  & h1 {
    margin: 0 3rem;
    align-self: center;
    font-size: 3rem;
  }

  & .nav {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    width: 475px;
    margin: 0 2rem;
  
    & h2 {
      width: 10rem;
      height: 2rem;
      text-align: center;
      border-width: .1rem;
      transition-duration: .2s;
  
      &:hover{
        color: $ternary-color ;
        border-color: black;
        font-size: 1.7rem;
      }
      &:not(:last-child){
          border-right-style: solid;
      }
  
    }
  }
}

main{
  height: 80%;
  border-style: solid;

}

footer {
  height: 10%;
  display: flex;
  justify-content: center;
  
  & nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 300px;

    & a {
      text-decoration: none;
      color: inherit;
      
    }

    & i {
      font-size: 2.5rem;
      transition-duration: .2s;

      &:hover{
        color: $ternary-color;
        font-size: 2.7rem;
      }

    }

  }

}
