
// Colors////////////////////////////
$primary-color: 	hsl(309, 62%, 28%);
$greyed-primary-color: hsl(309, 8%, 40%);

$secondary-color: hsl(334, 87%, 39%);
$greyed-secondary-color: hsl(334, 20%, 59%);

$ternary-color: hsl(3, 92%, 66%);
$greyed-ternary-color: hsl(3, 20%, 66%);

$quadinary-color: hsl(45, 100%, 60%);
$greyed-quadinary-color: hsl(45, 20%, 70%);


//Fonts////////////////////////////



